<form class="form-inline" method="post" action="{{ path('cliente_delete', {'id': cliente.id}) }}" onsubmit="return confirm('¿Esta seguro que quiere eliminar este cliente?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">
    <button class="btn btn-danger">Eliminar</button>
</form>
